@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark font-mono text-base text-light antialiased;
  }
}

@layer utilities {
  .gradient-border {
    @apply absolute left-8 bottom-0 h-px w-[calc(100%-64px)] bg-radial opacity-60;
  }
  .btn-bg {
    @apply absolute top-px left-px h-[calc(100%-2px)] w-[calc(100%-2px)]  transition-all;
  }
}

.btn {
  @apply relative inline-block py-3 px-8 text-sm transition-all before:btn-bg;
  @apply disabled:cursor-not-allowed disabled:opacity-40;
}

.btn--dark {
  @apply bg-radial before:bg-dark;
  @apply hover:text-dark hover:before:bg-light;
  /* disable hover effect when disabled */
  @apply disabled:text-light disabled:before:bg-dark;

}

.btn--light {
  @apply z-10 bg-radial2 text-dark before:bg-light;
  @apply hover:text-light hover:before:bg-dark;
  /* disable hover effect when disabled */
  @apply disabled:!text-dark disabled:before:!bg-light;
}
.outlined-btn {
  @apply bg-darkGray2 px-6 py-1 transition-colors; 
}

.nav-link {
  @apply text-light text-sm hover:text-white;
}

.diaglogPanel {
  @apply pt-20 pb-8 px-6  lg:p-10  md:mt-[92px] flex h-full min-h-[420px] w-[calc(100%-64px)]  max-w-3xl transform items-center justify-center bg-[rgba(49,47,71)]  p-5 text-center  align-middle shadow-xl transition-all;
}
.diaglogClose {
  @apply absolute right-10 top-8  flex items-center leading-none;
}

.diaglogTitle {
  @apply mb-8 text-center font-header text-[32px] lg:text-[44px] lg:mb-11 leading-[1.1];
}

.input-no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}

.wallet-adapter-dropdown-list {
  @apply bg-darkGray2 border border-darkGray3 gap-1 text-xs;
}

.wallet-adapter-modal-wrapper {
  @apply bg-darkGray2  max-w-[660px] rounded-none;
}

.wallet-adapter-modal-title {
  @apply text-[32px] md:text-[44px] font-body max-w-[480px] leading-[1.1] text-light;
}

.wallet-adapter-modal-list {
  @apply mx-auto max-w-[380px]  text-light !rounded-none;
}

.wallet-adapter-modal-list-more {
  @apply mx-auto font-mono uppercase text-xs font-semibold;
}
.wallet-adapter-dropdown-list .wallet-adapter-dropdown-list-item:hover,
.wallet-adapter-modal-list .wallet-adapter-button:hover {
  background-color: #413e53;
}

.wallet-adapter-dropdown-list-active {
  @apply rounded-none;
}

.wallet-adapter-dropdown-list-item {
  @apply rounded-none
}

.wallet-adapter-modal-button-close {
  @apply bg-transparent;
}

.wallet-adapter-button.secondary-btn:hover {
  @apply hover:bg-pythPurple;
}

html {
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  width: 3px;
}
html::-webkit-scrollbar-track {
  background-color: #110f23;
}
html::-webkit-scrollbar-thumb {
  background-color: #e6dafe;
  border-radius: 3px;
}
