@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn {
  @apply rounded-full bg-pythPurple;
}

.discord-btn {
  @apply rounded-lg bg-pythPurple;
}

.outlined-btn {
  @apply rounded-full border-2 border-mediumSlateBlue px-3 py-1 text-white;
}

.nav-link {
  @apply font-roboto text-white hover:text-pink;
}

.nav-link-active {
  color: theme('textColor.pink');
}

.nav-link-active::before {
  content: '';
  position: absolute;
  transform: translate(-13px, 10px);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: theme('textColor.pink');
}

.input-no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}

.background-left {
  position: fixed;
  left: -69.93%;
  right: 30.07%;
  top: -78.82%;
  bottom: 21.18%;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(130, 70, 250, 0.41) 0%,
    rgba(16, 14, 33, 0) 100%
  );
}

@layer components {
  .background-right {
    position: fixed;
    left: 68.79%;
    right: -50.64%;
    top: -2.58%;
    bottom: 10.31%;

    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(71, 131, 250, 0.26) 0%,
      rgba(41, 93, 195, 0) 100%
    );
  }
}
