name: Anchor Test CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18.19.1"
      - name: Npm install
        run: npm ci
      - name: Install Solana
        run: |
          sh -c "$(curl -sSfL https://release.solana.com/v1.18.16/install)"
          echo "/home/runner/.local/share/solana/install/active_release/bin" >> $GITHUB_PATH
      - name: Install Solana Verify CLI
        run: |
          cargo install solana-verify --git https://github.com/Ellipsis-Labs/solana-verifiable-build --rev 098551f
      - name: Javascript tests
        working-directory: ./staking
        run: npm run test:ci
      # Remove debug folder to avoid hitting space limit in ci
      - name: Clean up
        working-directory: ./staking
        run: rm -r ./target/debug
      # Anchor test will build the program, so we can run the tests here
      - name: Cargo tests
        working-directory: ./staking
        run: RUST_MIN_STACK=33554432 cargo test
