name: Anchor IDL CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18.19.1"
      - name: Npm install
        run: npm ci
      - name: Install Solana
        run: |
          sh -c "$(curl -sSfL https://release.anza.xyz/v1.18.16/install)"
          echo "/home/runner/.local/share/solana/install/active_release/bin" >> $GITHUB_PATH
      - name: Install Anchor
        working-directory: ./staking
        run: npm i -g @coral-xyz/anchor-cli@0.30.1
      - name: Build IDL
        working-directory: ./staking
        run: anchor build
      - name: Check commited idl is up to date
        working-directory: ./staking
        run: git diff -G".*" --exit-code target/*
