# This workflow will run `anchor test`
name: Rustfmt

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: clippy
      - name: Run clippy check
        working-directory: ./staking
        run: cargo +nightly clippy
