# This workflow will run `anchor test`
name: Prettier

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16.13'
    - name: Npm install
      working-directory: ./staking
      run: npm install install
    - name : Run prettier check
      working-directory: ./staking
      run: npx prettier -c app/**/*.ts tests/**/*.ts


